<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ahorcado</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <section class="dibujo">
    <section class="horca">
      <section class="h-cielo"></section>
      <section class="h-vertical"></section>
      <section class="h-suelo"></section>
      <section class="h-cuerda"></section>
      <section class="h-diagonal"></section>
    </section>
    <section class="muñeco">
      <section class="m-cabeza"></section>
      <section class="m-cuerpo"></section>
      <section class="m-brazo-i"></section>
      <section class="m-brazo-d"></section>
      <section class="m-pierna-i"></section>
      <section class="m-pierna-d"></section>
    </section>
  </section>  
</body>
</html>