body
{
  position: absolute;
}


.dibujo{
  background-color: blue;
  width: 400px;
  height: 500px;  
  position: relative;
  left: 30px;
}
.horca{
  width: 100%;
  height: 100%;  
  position: relative;
}

.h-suelo{
  position: relative;
  background-color: black;
  width: 340px;
  height: 30px;  
  left: 30px;
  top: 30px;
}

.h-cielo{
  position: relative;
  background-color: black;
  width: 200px;
  height: 30px;  
  position: relative;
  left: 30px;
  top: 30px;
}

.h-vertical{
  position: relative;
  background-color: black;
  width: 30px;
  height: 380px;  
  left: 30px;
  top: 30px;
}
.h-cuerda{
  position: relative;
  background-color: black;
  width: 15px;
  height: 110px;  
  left: 200px;
  top: -410px;
}

.h-diagonal{
  position: relative;
  background-color: black;
  -webkit-transform: rotate(45deg);
  width: 15px;
  height: 150px;  
  left: 80px;
  top: -520px;
}

.m-cabeza{
  position: relative;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 200px; 
  left: 172px;
  top: -380px;
}
.m-cuerpo{
  position: relative;
  background-color: black;
  width: 10px;
  height: 130px;  
  left: 203px;
  top: -410px;
}
.m-brazo-i{
  position: relative;
  background-color: black;
  -webkit-transform: rotate(45deg);
  width: 10px;
  height: 70px;  
  left: 179px;
  top: -519px;
}
.m-brazo-d{
  position: relative;
  background-color: black;
  -webkit-transform: rotate(-45deg);
  width: 10px;
  height: 70px;  
  left: 229px;
  top: -589px;
}

.m-pierna-i{
  position: relative;
  background-color: black;
  -webkit-transform: rotate(30deg);
  width: 10px;
  height: 80px;  
  left: 184px;
  top: -559px;
}
.m-pierna-d{
  position: relative;
  background-color: black;
  -webkit-transform: rotate(-30deg);
  width: 10px;
  height: 80px;  
  left: 222px;
  top: -639px;
}